:root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Roboto, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --color-primary-text: #333;
    --color-secondary-text: #999;
    --color-white: #fff;
    --color-lighter-gray: #f6f6f6;
    --color-light-gray: #e6e6e6;
    --color-mid-gray: #ccc;
    --color-dark-gray: #444;
    --color-darker-gray: #15171a;
    --color-black: #000;
    --font-sans: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
    --font-serif: Georgia, serif;
    --font-mono: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
    --head-nav-gap: 2.8rem;
    --h1-size: 4.6rem;
    --gap: 3.6rem;
    --header-height: 110px;
}

@media (max-width: 767px) {
    :root {
        --h1-size: 3.2rem !important;
        --gap: 2rem;
        --header-height: 50px;
    }
}

* {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

html:focus-within {
    scroll-behavior: smooth;
}

body {
    line-height: 1.5;
    min-height: 100vh;
    text-rendering: optimizespeed;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--color-white);
    color: var(--color-primary-text);
    font-family: var(--font-sans);
    font-size: 1.6rem;
    line-height: 1.6;
}

a:not([class]) {
    -webkit-text-decoration-skip: ink;
    text-decoration-skip-ink: auto;
}

img,
picture {
    display: block;
    max-width: 100%;
}

button,
input,
select,
textarea {
    font: inherit;
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    :after,
    :before {
        scroll-behavior: auto !important;
    }
}

.sp-site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.sp-main {
    flex-grow: 1;
    padding-bottom: 8rem;
    padding-top: 8rem;
}

.sp-outer {
    padding-left: 16px;
    padding-right: 16px;
}

.sp-inner {
    margin: 0 auto;
    max-width: 1200px;
}

.sp-head {
    height: 50px;
    width: 100%;
    background-color: #454545;
    position: relative;
}

.sp-head .sp-head-brand {
    display: inline-block;
    font-size: 2.4rem;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    letter-spacing: -.02em;
    white-space: nowrap;
}

.sp-head .sp-head-brand img {
    width: 50px;
    height: 50px;
}

.sp-head .sp-head-btn {
    display: none;
}

.sp-head .sp-head-links {
    display: inline;
    float: right;
    font-size: 18px;
}

.sp-head .sp-head-links a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
}

.sp-head .sp-head-links a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.sp-head #sp-head-check {
    display: none;
}

@media (max-width:600px) {
    .sp-head .sp-head-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }

    .sp-head .sp-head-btn label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }

    .sp-head .sp-head-btn label:hover,
    .sp-head #sp-head-check:checked~.sp-head-btn label {
        background-color: rgba(0, 0, 0, 0.3);
    }

    .sp-head .sp-head-btn label span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #eee;
    }

    .sp-head .sp-head-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #333;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
    }

    .sp-head .sp-head-links a {
        display: block;
        width: 100%;
    }

    .sp-head #sp-head-check:not(:checked)~.sp-head-links {
        height: 0px;
        visibility: hidden;
    }

    .sp-head #sp-head-check:checked~.sp-head-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
        visibility: visible;
    }
}